# Docker Compose project name (prefix)
# Typical value: autotrainer
AUTOTRAINER_DASHBOARD_COMPOSE_NAME=

# Output location for container logs.
# Typical value: /home/<user>/.logs
AUTOTRAINER_DASHBOARD_LOG_VOLUME=
