[Unit]
Description=Service that runs the Auto Trainer Device Registry from startup.

[Install]
WantedBy=multi-user.target
[Service]
User=autotrainer
Group=autotrainer
AmbientCapabilities=CAP_NET_BIND_SERVICE
Type=simple
ExecStart=/autotrainer/auto-trainer-deployment/manager/registry/start.sh
WorkingDirectory=/autotrainer/auto-trainer-deployment/manager/registry
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
